@import url(import.css);
@import url(item-center.css);
body {
  height: 100%;
  overflow-y: scroll;
  position: absolute;
  min-height: 1000px;
  /* margin: 0;
  padding: 0; */
}

aside {
  border: 1px solid black;
  margin-bottom: 10px;
}

div.size {
  width: 320px;
  height: 40px;
}

div.default {
  border: 1px solid goldenrod;
  width: 320px;
  height: 40px;
}

.block {
  border: 1px solid brown;
  width: 320px;
  height: 40px;
}

aside.container {
  display: flex;
  flex-flow: wrap;
}
